.popups {
    background-color: $color-light-100;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
    position: relative;
    z-index: 3;
}

.popups__decoration {
    width: 10px;
    height: 10px;
    background-color: $color-light-100;
    position: absolute;
    z-index: 2;
}

.popup-buttons {
    display: flex;
    gap: 20px;
}

.close-icon {
    cursor: pointer;
    margin-left: auto;
    width: 6px;
    height: 6px;
    background: url(../assets/icons/cross-popup.svg) center center no-repeat;
    transition: scale 0.1s;
    &:hover {
        scale: 1.2;
        transition: scale 0.1s;
    }
}

// Event add popup

.event-add-popup {
    width: 266px;
}

.popups__decoration-event-add {
    transform: rotate(45deg);
    top: 10px;
    left: -5px;
}

.event-add-popup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;

    >* {
        box-sizing: border-box;
        width: 100%;

        &:nth-last-child(2) {
            margin-bottom: 16px;
        }
    }
}

// Quick add Popup

.quick-add-popup {
    width: 276px;
}

.popups__decoration-event-quick-add, .popups__decoration-event-search, .popups__decoration-coming-event {
    transform: rotate(45deg);
    top: -5px;
    left: 23px;
}

// Event overview popup 

.event-overview-popup {
    width: 266px;
}

.popups__decoration-event-overview {
    transform: rotate(45deg);
    top: 10px;
    left: -5px;
}

.event-overview-popup__description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

// popup positioning

.popup-container {
    scale: 0;
    position: absolute;
    z-index: 2;
    transition: all 0.3s;
    &.active {
        scale: 1;
        transition: all 0.3s;
    }
}

.event-add-popup-container, .event-overview-popup-container {
    top: 0px;
    left: 0px;
}

.event-quick-add-container {
    bottom: -80px;
}

.event-search-popup-container {
    top: 90px;
    right: 12px;
}

.event-coming-popup-container {
    top: 90px;
    left: 68px;
}

// Search popup and coming event popup
.event-search-popup, .event-coming-popup {
    padding: 4px;
    max-height: 192px;
    min-width: 187px;
    min-height: 36px;
    overflow-y: scroll;
}

.event-search-popup__list, .event-coming-popup__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.event-search-popup__item {
    padding: 4px 9px;
    min-width: 156px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;

    &:hover {
        background-color: $color-blue-200;
        color: $color-light-100;
        transition: all 0.3s;
    }

    &.hidden {
        display: none;
    }
}

.event-search-popup__item-title {
    margin-bottom: 6px;
}

.event-coming-popup__title {
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-blue-200;
}

.popups__decoration-coming-event {
    z-index: 4;
}

.coming-event-text {
    padding-left: 6px;
}