.month-text {
    @include font(1.8rem);
}

.cell-date-text, .cell-description-text{
    @include font(1.4rem);
    color: $color-dark-100;
}

.cell-title-text {
    @include font(1.4rem);
}

.input-text {
    @include font(1.4rem, 300);
}

.input-text-add {
    @include font(1.4rem, 300);
    color: $color-dark-100;
}

.menu-title-text{
    @include font(1.4rem, 500);
}

.menu-date-text{
    @include font(1.2rem, 300);
}

.button-title-text {
    @include font(1.2rem);
}

.text-hidden {
    @include font(0rem);
}

.mobile-text-title {
    @include font (2.4rem, 500);
    color: $color-light-100;
}

.mobile-text-subtitle {
    @include font (1.8rem, 300);
    color: $color-light-100;
}
.mobile-text {
    @include font (1.4rem, 100);
    color: $color-light-100;
}

