$color-light-100: #FFFFFF;
$color-neutral-100: #F4F4F4;
$color-neutral-200: #CFCFCF;
$color-blue-100: #C2E4FE;
$color-blue-200: #27A1FF;
$color-blue-300: #0271C7;
$color-red-100: #E94E4E;
$color-dark-100: #6B6B6B;
$color-dark-200: #292929;

$content-width: 1000px;
